<section class="categories">
  <div class="categories-content">
    <div class="exercises-main-container">
      <div class="home-results">
        <!-- #region MUSCLES BLOCK -->
        <div class="categories-by-muscles">
          <ul class="categories-by-muscles-list">
          </ul>
        </div>
        <!-- #endregion -->
        <!-- #region EXERCISES BLOCK -->
        <div class="exercises is-hidden">
          <ul class="exercises-list" data-exercice-modal-open>
          </ul>
        </div>
        <!-- #endregion -->
        <!-- #region PAGINATION -->
        <div class="home-pagination is-hidden" data-home-pagination></div>
        <!-- #endregion -->
      </div>
      <!-- #region QUOTE and MOTIVATION -->
      <div class="quote-and-motivation-wrapper">
        <div class="quote-and-img">
          <div class="quote">
            <div class="quote-man-svg-wrap">
              <svg class="quote-man-svg">
                <use href="./img/icons.svg#running_figure_white"></use>
              </svg>
            </div>
            <div class="quote-content">
              <p class="quote-title">Quote of the day</p>
              <div class="quote-text-wrapper">
                <p class="quote-text" data-quote-text>
                </p>
              </div>
              <p class="quote-author">
                <a
                  href="https://www.google.com/search?q=Tom+Brady"
                  target="_blank"
                  rel="noopener noreferrer"
                  class="quote-author-link"
                  data-quote-author
                  data-quote-author-link
                  ></a
                >
              </p>
            </div>
            <svg class="quote-marks-svg">
              <use href="./img/icons.svg#invertedcommas"></use>
            </svg>
          </div>
          <img
            class="quote-img"
            src="./img/quote-img1x.webp"
            width="335"
            height="242"
            srcset="./img/quote-img2x.webp 2x, ./img/quote-img3x.webp 3x"
            alt="two women are drinking water after training"
          />
        </div>
        <div class="motivation">
          <div class="motivation-svg-wrap">
            <svg class="motivation-svg">
              <use href="./img/icons.svg#dumbell_white"></use>
            </svg>
          </div>
          <div class="motivation-text-wrapper">
            <p class="motivation-title">110 min</p>
            <p class="motivation-subtitle">Daily norm of sports</p>
            <p class="motivation-text">
              The World Health Organization recommends at least 150 minutes of
              moderate-intensity aerobic physical activity throughout the week
              for adults aged 18-64. However, what happens if we adjust that
              number to 110 minutes every day? While it might seem like a high
              number to hit, dedicating 110 minutes daily to sporting activities
              may offer unparalleled benefits to physical health, mental
              well-being, and overall quality of life.
            </p>
          </div>
        </div>
      </div>
      <!-- #endregion -->
    </div>
  </div>
</section>
