<section class="categories">
    <div class="categories-content">
        <div class="exercises-main-container">
            <div class="home-results">
            <!-- #region MUSCLES BLOCK -->
            <div class="categories-by-muscles">
                <ul class="categories-by-muscles-list">
                    <li class="categories-by-muscles-item">
                        <img src="./img/template.png" alt="" class="categories-by-muscles-img">
                        <button type="button" class="category-card-wrapper" data-category="">
                            <div class="category-card-content">
                                <h3 class="category-card-name">Abductors</h3>
                                <p class="category-card-filter">Muscles</p>
                            </div>
                        </button>
                    </li>
                    <li class="categories-by-muscles-item">
                        <img src="./img/template.png" alt="" class="categories-by-muscles-img">
                        <button type="button" class="category-card-wrapper" data-category="">
                            <div class="category-card-content">
                                <h3 class="category-card-name">Abductors</h3>
                                <p class="category-card-filter">Muscles</p>
                            </div>
                        </button>
                    </li>
                    <li class="categories-by-muscles-item">
                        <img src="./img/template.png" alt="" class="categories-by-muscles-img">
                        <button type="button" class="category-card-wrapper" data-category="">
                            <div class="category-card-content">
                                <h3 class="category-card-name">Abductors</h3>
                                <p class="category-card-filter">Muscles</p>
                            </div>
                        </button>
                    </li>
                    <li class="categories-by-muscles-item">
                        <img src="./img/template.png" alt="" class="categories-by-muscles-img">
                        <button type="button" class="category-card-wrapper" data-category="">
                            <div class="category-card-content">
                                <h3 class="category-card-name">Abductors</h3>
                                <p class="category-card-filter">Muscles</p>
                            </div>
                        </button>
                    </li>
                    <li class="categories-by-muscles-item">
                        <img src="./img/template.png" alt="" class="categories-by-muscles-img">
                        <button type="button" class="category-card-wrapper" data-category="">
                            <div class="category-card-content">
                                <h3 class="category-card-name">Abductors</h3>
                                <p class="category-card-filter">Muscles</p>
                            </div>
                        </button>
                    </li>
                    <li class="categories-by-muscles-item">
                        <img src="./img/template.png" alt="" class="categories-by-muscles-img">
                        <button type="button" class="category-card-wrapper" data-category="">
                            <div class="category-card-content">
                                <h3 class="category-card-name">Abductors</h3>
                                <p class="category-card-filter">Muscles</p>
                            </div>
                        </button>
                    </li>
                </ul>
            </div>
            <!-- #endregion -->
            <!-- #region EXERCISES BLOCK -->
            <div class="exercises is-hidden">
                <ul class="exercises-list">
                    <li class="exercises-item">
                        <div class="exercise-card-wrapper" data-category="">
                            <div class="exercise-card-content">
                                <div class="exercise-card-top">
                                    <div class="meta-group">
                                        <span class="workout-span">WORKOUT</span>
                                        <button type="button" class="rating-subgroup" aria-label="Rate this exercise" data-id="">
                                            <span class="rating-span">4.0</span>
                                            <svg class="rating-svg">
                                                <use href="./img/icons.svg#star_yellow"></use>
                                            </svg>
                                        </button>
                                    </div>
                                    <button type="button" class="start-btn" data-id="">
                                        <span class="start-span">Start</span>
                                        <svg class="start-svg">
                                            <use href="./img/icons.svg#arrow-next-page"></use>
                                        </svg>
                                    </button>
                                </div>
                                <div class="exercise-card-name">
                                    <div class="human-svg-wrapper">
                                        <svg class="human-svg">
                                            <use href="./img/icons.svg#running_figure_white"></use>
                                        </svg>
                                    </div>
                                    <h3 class="exercise-card-title">Air bike</h3>
                                </div>
                                <ul class="exercise-info">
                                    <li class="exercise-info-item">
                                        <span class="info-label calories">Burned calories:</span>
                                        <span class="info-value calories">312 / 3 min</span>
                                    </li>
                                    <li class="exercise-info-item">
                                        <span class="info-label body-part">Body part:</span>
                                        <span class="info-value body-part">Waist</span>
                                    </li>
                                    <li class="exercise-info-item">
                                        <span class="info-label target">Target:</span>
                                        <span class="info-value target">Abs</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="exercises-item">
                        <div class="exercise-card-wrapper" data-category="">
                            <div class="exercise-card-content">
                                <div class="exercise-card-top">
                                    <div class="meta-group">
                                        <span class="workout-span">WORKOUT</span>
                                        <button type="button" class="rating-subgroup" aria-label="Rate this exercise" data-id="">
                                            <span class="rating-span">4.0</span>
                                            <svg class="rating-svg">
                                                <use href="./img/icons.svg#star_yellow"></use>
                                            </svg>
                                        </button>
                                    </div>
                                    <button type="button" class="start-btn" data-id="">
                                        <span class="start-span">Start</span>
                                        <svg class="start-svg">
                                            <use href="./img/icons.svg#arrow-next-page"></use>
                                        </svg>
                                    </button>
                                </div>
                                <div class="exercise-card-name">
                                    <div class="human-svg-wrapper">
                                        <svg class="human-svg">
                                            <use href="./img/icons.svg#running_figure_white"></use>
                                        </svg>
                                    </div>
                                    <h3 class="exercise-card-title">Air bike</h3>
                                </div>
                                <ul class="exercise-info">
                                    <li class="exercise-info-item">
                                        <span class="info-label calories">Burned calories:</span>
                                        <span class="info-value calories">312 / 3 min</span>
                                    </li>
                                    <li class="exercise-info-item">
                                        <span class="info-label body-part">Body part:</span>
                                        <span class="info-value body-part">Waist</span>
                                    </li>
                                    <li class="exercise-info-item">
                                        <span class="info-label target">Target:</span>
                                        <span class="info-value target">Abs</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="exercises-item">
                        <div class="exercise-card-wrapper" data-category="">
                            <div class="exercise-card-content">
                                <div class="exercise-card-top">
                                    <div class="meta-group">
                                        <span class="workout-span">WORKOUT</span>
                                        <button type="button" class="rating-subgroup" aria-label="Rate this exercise" data-id="">
                                            <span class="rating-span">4.0</span>
                                            <svg class="rating-svg">
                                                <use href="./img/icons.svg#star_yellow"></use>
                                            </svg>
                                        </button>
                                    </div>
                                    <button type="button" class="start-btn" data-id="">
                                        <span class="start-span">Start</span>
                                        <svg class="start-svg">
                                            <use href="./img/icons.svg#arrow-next-page"></use>
                                        </svg>
                                    </button>
                                </div>
                                <div class="exercise-card-name">
                                    <div class="human-svg-wrapper">
                                        <svg class="human-svg">
                                            <use href="./img/icons.svg#running_figure_white"></use>
                                        </svg>
                                    </div>
                                    <h3 class="exercise-card-title">Air bike</h3>
                                </div>
                                <ul class="exercise-info">
                                    <li class="exercise-info-item">
                                        <span class="info-label calories">Burned calories:</span>
                                        <span class="info-value calories">312 / 3 min</span>
                                    </li>
                                    <li class="exercise-info-item">
                                        <span class="info-label body-part">Body part:</span>
                                        <span class="info-value body-part">Waist</span>
                                    </li>
                                    <li class="exercise-info-item">
                                        <span class="info-label target">Target:</span>
                                        <span class="info-value target">Abs</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="exercises-item">
                        <div class="exercise-card-wrapper" data-category="">
                            <div class="exercise-card-content">
                                <div class="exercise-card-top">
                                    <div class="meta-group">
                                        <span class="workout-span">WORKOUT</span>
                                        <button type="button" class="rating-subgroup" aria-label="Rate this exercise" data-id="">
                                            <span class="rating-span">4.0</span>
                                            <svg class="rating-svg">
                                                <use href="./img/icons.svg#star_yellow"></use>
                                            </svg>
                                        </button>
                                    </div>
                                    <button type="button" class="start-btn" data-id="">
                                        <span class="start-span">Start</span>
                                        <svg class="start-svg">
                                            <use href="./img/icons.svg#arrow-next-page"></use>
                                        </svg>
                                    </button>
                                </div>
                                <div class="exercise-card-name">
                                    <div class="human-svg-wrapper">
                                        <svg class="human-svg">
                                            <use href="./img/icons.svg#running_figure_white"></use>
                                        </svg>
                                    </div>
                                    <h3 class="exercise-card-title">Air bike</h3>
                                </div>
                                <ul class="exercise-info">
                                    <li class="exercise-info-item">
                                        <span class="info-label calories">Burned calories:</span>
                                        <span class="info-value calories">312 / 3 min</span>
                                    </li>
                                    <li class="exercise-info-item">
                                        <span class="info-label body-part">Body part:</span>
                                        <span class="info-value body-part">Waist</span>
                                    </li>
                                    <li class="exercise-info-item">
                                        <span class="info-label target">Target:</span>
                                        <span class="info-value target">Abs</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="exercises-item">
                        <div class="exercise-card-wrapper" data-category="">
                            <div class="exercise-card-content">
                                <div class="exercise-card-top">
                                    <div class="meta-group">
                                        <span class="workout-span">WORKOUT</span>
                                        <button type="button" class="rating-subgroup" aria-label="Rate this exercise" data-id="">
                                            <span class="rating-span">4.0</span>
                                            <svg class="rating-svg">
                                                <use href="./img/icons.svg#star_yellow"></use>
                                            </svg>
                                        </button>
                                    </div>
                                    <button type="button" class="start-btn" data-id="">
                                        <span class="start-span">Start</span>
                                        <svg class="start-svg">
                                            <use href="./img/icons.svg#arrow-next-page"></use>
                                        </svg>
                                    </button>
                                </div>
                                <div class="exercise-card-name">
                                    <div class="human-svg-wrapper">
                                        <svg class="human-svg">
                                            <use href="./img/icons.svg#running_figure_white"></use>
                                        </svg>
                                    </div>
                                    <h3 class="exercise-card-title">Air bike</h3>
                                </div>
                                <ul class="exercise-info">
                                    <li class="exercise-info-item">
                                        <span class="info-label calories">Burned calories:</span>
                                        <span class="info-value calories">312 / 3 min</span>
                                    </li>
                                    <li class="exercise-info-item">
                                        <span class="info-label body-part">Body part:</span>
                                        <span class="info-value body-part">Waist</span>
                                    </li>
                                    <li class="exercise-info-item">
                                        <span class="info-label target">Target:</span>
                                        <span class="info-value target">Abs</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="exercises-item">
                        <div class="exercise-card-wrapper" data-category="">
                            <div class="exercise-card-content">
                                <div class="exercise-card-top">
                                    <div class="meta-group">
                                        <span class="workout-span">WORKOUT</span>
                                        <button type="button" class="rating-subgroup" aria-label="Rate this exercise" data-id="">
                                            <span class="rating-span">4.0</span>
                                            <svg class="rating-svg">
                                                <use href="./img/icons.svg#star_yellow"></use>
                                            </svg>
                                        </button>
                                    </div>
                                    <button type="button" class="start-btn" data-id="">
                                        <span class="start-span">Start</span>
                                        <svg class="start-svg">
                                            <use href="./img/icons.svg#arrow-next-page"></use>
                                        </svg>
                                    </button>
                                </div>
                                <div class="exercise-card-name">
                                    <div class="human-svg-wrapper">
                                        <svg class="human-svg">
                                            <use href="./img/icons.svg#running_figure_white"></use>
                                        </svg>
                                    </div>
                                    <h3 class="exercise-card-title">Air bike</h3>
                                </div>
                                <ul class="exercise-info">
                                    <li class="exercise-info-item">
                                        <span class="info-label calories">Burned calories:</span>
                                        <span class="info-value calories">312 / 3 min</span>
                                    </li>
                                    <li class="exercise-info-item">
                                        <span class="info-label body-part">Body part:</span>
                                        <span class="info-value body-part">Waist</span>
                                    </li>
                                    <li class="exercise-info-item">
                                        <span class="info-label target">Target:</span>
                                        <span class="info-value target">Abs</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- #endregion -->
            <!-- #region PAGINATION -->
            <div class="home-pagination is-hidden" data-home-pagination></div>
            <!-- #endregion -->
            </div>
            <!-- #region QUOTE and MOTIVATION -->
            <div class="quote-and-motivation-wrapper">
                <div class="quote-and-img">
                    <div class="quote">
                        <div class="quote-man-svg-wrap">
                            <svg class="quote-man-svg">
                                <use href="./img/icons.svg#running_figure_white"></use>
                            </svg>
                        </div>
                        <div class="quote-content">
                            <p class="quote-title">Quote of the day</p>
                            <div class="quote-text-wrapper">
                                <p class="quote-text" data-quote-text>A lot of times I find that people who are blessed with the most talent don't ever develop that attitude, and the ones who aren't blessed in that way are the most competitive and have the biggest heart.</p>
                            </div>
                            <p class="quote-author">
                                <a href="https://www.google.com/search?q=Tom+Brady"
                                target="_blank"
                                rel="noopener noreferrer"
                                class="quote-author-link"
                                data-quote-author
                                data-quote-author-link>Tom Brady</a>
                            </p>
                        </div>
                        <svg class="quote-marks-svg">
                            <use href="./img/icons.svg#invertedcommas"></use>
                        </svg>
                    </div>
                    <img class="quote-img"
                        src="./img/quote-img1x.webp"
                        width="335"
                        height="242"
                        srcset="./img/quote-img2x.webp 2x, ./img/quote-img3x.webp 3x"
                        alt="two women are drinking water after training"/>
                </div>
                <div class="motivation">
                    <div class="motivation-svg-wrap">
                        <svg class="motivation-svg">
                            <use href="./img/icons.svg#dumbell_white"></use>
                        </svg>
                    </div>
                    <div class="motivation-text-wrapper">
                        <p class="motivation-title">110 min</p>
                        <p class="motivation-subtitle">Daily norm of sports</p>
                            <p class="motivation-text">
                                The World Health Organization recommends at least 150 minutes of moderate-intensity
                                aerobic physical activity throughout the week for adults aged 18-64.
                                However, what happens if we adjust that number to 110 minutes every day?
                                While it might seem like a high number to hit, dedicating 110 minutes daily
                                to sporting activities may offer unparalleled benefits to physical health,
                                mental well-being, and overall quality of life.
                            </p>
                    </div>
                </div>
            </div>
        <!-- #endregion -->
        </div>
    </div>
</section>