<section class="filters-section">
    <div class="filters-wrapper">
        <h2 class="filters-title">
            Exercises
            <span class="filters-slash is-hidden"> /</span>
            <span class="filters-selected-category is-hidden">Waist</span>
        </h2>
        <form class="filters-search-form is-hidden">
            <input type="text" name="search-query" class="filters-input" placeholder="Search"/>
            <button type="submit" class="filters-search-btn">
                <svg class="filters-search-svg">
                    <use href="./img/icons.svg#search_symbol"></use>
                </svg>
            </button>
        </form> 
        <ul class="filters-btns-group">
            <li class="filters-btn-item">
                <button type="button" class="filters-btn is-active" data-filter="Muscles">Muscles</button>
            </li>
            <li class="filters-btn-item">
                <button type="button" class="filters-btn" data-filter="Body-parts">Body parts</button>
            </li>
            <li class="filters-btn-item">
                <button type="button" class="filters-btn" data-filter="Equipment">Equipment</button>
            </li>
        </ul>
    </div>
</section>