:root {
  /* Colors */
  --color-dark: #242424;
  --color-light: #f4f4f4;
  --color-white: #ffffff;
  --color-star: #eea10c;

  /* Typography */
  --font-main: 'DM Sans', sans-serif;

  /* Transition animation */
  --transition-hover: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: var(--font-main);
  color: var(--color-dark);
  background-color: var(--color-light);
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page-wrapper main {
  flex: 1 0 auto;
}